{% load humanize core_tags %}

<p><strong>Reference:</strong> {{ object.reference_number }}</p>

<h5>Date and time</h5>
<p><strong>Date:</strong> {{ object.date }}</p>
<p><strong>Start time:</strong> {{ object.start_time }}</p>
<p><strong>Duration:</strong> {{ object.duration }} hour{{ object.duration|pluralize }}</p>

<h5>Location</h5>
<p>{% include 'job/includes/location.html' %}</p>

<h5>Vehicle</h5>
<p><strong>Vehicle type:</strong> {{ object.get_vehicle_type_display }}</p>
<p><strong>Does the driver need to supply their own vehicle?</strong> {{ object.own_vehicle|yesno|capfirst }} </p>
<p><strong>Minimum delivery box:</strong> {{ object.get_minimum_delivery_box_display }} </p>

<h5>Driver details</h5>
<p><strong>Number of drivers:</strong> {{ object.number_of_freelancers }} </p>
<p><strong>Minimum driving experience:</strong> {{ object.get_driving_experience_display }} </p>
<p><strong>Phone requirement:</strong> {{ object.get_phone_requirement_display }} </p>

<h5>Budget</h5>
{% block budget_details %}
    <p><strong>Pay per hour:</strong> &pound;{{ object.freelancer_pay_per_hour.amount }} </p>
{% endblock %}
<p><strong>Inclusive of tips:</strong> {{ object.tips_included|yesno|capfirst }} </p>

{% if object.comments %}
<h5>Comments</h5>
<p>{{ object.comments|linebreaks }} </p>
{% endif %}

{% if admin %}
    <p><a href='{% base_url %}{{ object.get_absolute_url }}'>View job request</a></p>
{% endif %}