{% extends 'form_page.html' %}

{% block content %}
    <div class='text-center'>
        <p>Don't have an account? <a class='btn btn-sm btn-default' href='{{ signup_url }}'><i class='fa fa-user'></i> Register</a></p>
    </div>
    {{ block.super }}
    <a class="btn btn-sm btn-default" href="{% url 'account_reset_password' %}"><i class='fa fa-question-circle'></i> Forgot Password?</a>
    
{% endblock %}

<form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      
      <button class="primaryAction" type="submit">Sign In</button>
    </form>
