{% load icons humanize feedback %}
{% if object_list %}
    <table class='table'>
        <thead>
            {% block table_headings %}
                <th>Job</th>
                <th>Date / time</th>
                <th>Location</th>
                <th>Pay per hour</th>
                <th>Status</th>
                {% if not hide_feedback %}<th>Feedback</th>{% endif %}
            {% endblock %}
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    {% block table_cells %}
                        <td class='monospace'>{{ object.jobrequest.reference_number }}</td>
                        <td>{{ 'date'|icon }} {{ object.jobrequest.date }}<br>{{ 'time'|icon }} {{ object.jobrequest.start_time }}<br>
                        For {{ object.jobrequest.duration }} hour{{ object.jobrequest.duration|pluralize }}</td>
                        <td>{% include 'job/includes/location.html' with object=object.jobrequest %}</td>
                        <td>&pound;{{ object.jobrequest.client_pay_per_hour.amount }}</td>
                        <td>{{ object.jobrequest.get_status_display }}</td>
                        {% if not hide_feedback %}<td>{% feedback_for_client object %}</td>{% endif %}
                    {% endblock %}
                </tr>
            {% endfor %}        
        </tbody>
    </table>
    {% include 'includes/paginator.html' %}
{% else %}
    <p class='well top-space'>No bookings.</p>
{% endif %}   
