{% load icons feedback booking %}
{% if request.user.is_freelancer %}
    <div class="panel panel-default">
      <div class="panel-heading">Bookings</div>
      <div class="list-group">
          {% url 'freelancer_bookings_list' as link_url %}
          {% include 'includes/panel_link.html' with icon_name='freelancer_bookings' link_text='My bookings' %}
          {% url 'freelancer_backlog' as link_url %}
          {% freelancer_backlog_count as feedback_action_number %}
          {% include 'includes/panel_link.html' with icon_name='feedback' link_text='Jobs awaiting feedback' action_number=feedback_action_number %}
          {% url 'freelancer_invitations_list' as link_url %}
          {% freelancer_open_invitations_count as invitations_action_number %}
          {% include 'includes/panel_link.html' with icon_name='invitation' link_text='Open invitations' action_number=invitations_action_number %}
          {% url 'notification_list' as link_url %}
          {% include 'includes/panel_link.html' with icon_name='notification' link_text='Notifications' %}
          {% url 'availability_update' as link_url %}
          {% include 'includes/panel_link.html' with icon_name='availability' link_text='My availability' %}
      </div>
    </div>
{% endif %}