{% load core_tags %}
<p>The following job has now finished.  We'd love to hear your feedback on the
{% if client %}freelancer{{ object.number_of_freelancer|pluralize }}{% else %}client{% endif %}.</p>

{% if client %}
  <table class="button">
    <tr>
      <td>
        <a href='{% base_url %}{% url 'client_feedback_create' object.pk %}'>Leave feedback</a>
      </td>
    </tr>
  </table>
  {% summary_for_email object 'client' %}
{% else %}
  <table class="button">
    <tr>
      <td>
        <a href='{% base_url %}{% url 'freelancer_feedback_create' object.pk %}'>Leave feedback</a>
      </td>
    </tr>
  </table>
  {% summary_for_email object 'freelancer' %}
{% endif %}
