{% extends 'base.html' %}

{% block content %}
            <div class="row">
                <div class="col-md-9 col-md-offset-3 contact-address contact-about">
                    <p><i class="fa fa-envelope"></i>Email: <a href='mailto:{{ contact_email }}'>{{ contact_email }}</a></p>
                    {#<p><i class="fa fa-phone"></i>Phone: 0111 111 111</p>#}
                    <p><i class="fa fa-facebook"></i>Facebook: <a href=''>facebook.com/buzzhire</a></p>
                    <p><i class="fa fa-twitter"></i>Twitter: <a href=''>twitter.com/buzzhire</a></p>
                </div>
            </div>

{% endblock %}
