{% extends 'page_fullwidth.html' %}
{% load icons %}
{% block content %}
    <div class='container'>
        <div class='row'>
            <div class='col-md-6'>
                <h4>{{ 'faq'|icon }} What is Buzzhire?</h4>
                <p>Buzzhire is an on-demand recruitment platform for businesses to fulfil their immediate hourly staffing needs. We know that from time to time companies need to have more staff for short periods, but cannot hire them full-time. Buzzhire solves this problem by providing pre-screened, qualified candidates who are available to work within an hour’s notice.</p>
                <p>Buzzhire is here to make on-demand recruitment simple, so you can focus more time on your business.</p>
            </div>
            <div class='col-md-6'>
                <h4>{{ 'faq'|icon }} How does it work?</h4>
                <p>You simply enter your job details online, outlining what type of worker you require (delivery, waiter, bartender, etc.) and when you need them. Buzzhire will match our pre-screened candidate to your job post, and send you details of the best candidate. Once you accept, we will process payment and arrange for the selected candidate to come to you, ready to work. </p>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h4>{{ 'faq'|icon }} What type of jobs are on Buzzhire?</h4>
                <p>Buzzhire currently focuses on freelance requirements for bartenders, delivery drivers, kitchen porters and waiters.</p>
            </div>
            <div class='col-md-6'>
                <h4>{{ 'faq'|icon }} How much does Buzzhire cost?</h4>
                <p>Posting jobs or joining Buzzhire is absolutely FREE.</p>
                <p>Buzzhire only charges a fee for accepted jobs which is automatically processed at the time of payment. There are no other hidden costs or charges.</p>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h4>{{ 'faq'|icon }} Where is Buzzhire available?</h4>
                <p>At present Buzzhire is only present in London, but we will keep you posted as we expand into new locations.</p>
            </div>
            <div class='col-md-6'>
                <h4>{{ 'faq'|icon }} How do I sign up?</h4>
                <p>We would love for you to be part of the Buzzhire network. Please navigate to the links below to sign up to Buzzhire:</p>
                <p><a class='btn btn-default' href='{% url 'service_select' %}'>For Companies</a>&nbsp;<a class='btn btn-default' href='{% url 'freelancer_signup_select' %}'>For Freelancers</a></p>
            </div>
        </div>
        <div class='row'>

            <div class='col-md-6'>
                <h4>{{ 'faq'|icon }} How is Buzzhire different to TaskRabbit, Upwork or Freelancer?</h4>
                <p>Buzzhire is a business-to-business service focusing only on the hospitality and delivery industries for urgent job requirements (within 2 weeks). Each worker is fully vetted, trained and selected by us based on your needs. Our focus is to provide small to large businesses with high quality, experienced staff for temporary work. Unlike others, we don’t focus on the consumer-to-consumer market or virtual working arrangements. </p>
            </div>
            <div class='col-md-6'>
                <h4>{{ 'faq'|icon }} I would like some more information, who can I contact?</h4>
                <p>We’d love to you hear from you. Please <a href='{% url 'contact' %}'>get in touch</a> and we’ll get back to you as soon as possible.</p>
            </div>


        </div>
    </div>
    
{% endblock %}
