{% extends 'base.html' %}
{% load staticthumbnail static %}
{% block content_wrapper %}
     
        <div id="home" class="top-content" style='height: 600px;' data-background-images='["{% static 'img/hero/bikespeed.jpg' %}",
                                                                    "{% static 'img/hero/app.jpg' %}",
                                                                    "{% static 'img/hero/bicycle.jpg' %}",
                                                                    "{% static 'img/hero/sunset.jpg' %}",
                                                                    "{% static 'img/hero/laptop.jpg' %}",
                                                                    "{% static 'img/hero/scooter.jpg' %}",
                                                                    "{% static 'img/hero/scooter-purple.jpg' %}",
                                                                    "{% static 'img/hero/bicycle-water.jpg' %}",
                                                                    "{% static 'img/hero/watch.jpg' %}",
                                                                    "{% static 'img/hero/road.jpg' %}",
                                                                    "{% static 'img/hero/night-scene.jpg' %}",
                                                                    "{% static 'img/hero/scooter-red.jpg' %}"]'>
                <div class='dimmer-overlay' style='position: absolute; background-color: rgba(0,0,0,0.5); height: 100%; width: 100%; top: 0;'></div>
                <div class="container" style='position: relative;'>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1" style='margin-top: 7em;'>
                            <h2>Find a delivery job in seconds</h2>
                            <div class="description">
                                Signing up is easy, and you'll start earning money in no time.
                            </div>
                        </div>
                    </div>
                    <div class='row' style='margin-top: 4em;'>
                        <a class="btn btn-lg btn-default" href="#features-section"><i class="fa fa-angle-double-down"></i> Learn more</a>
                        <a class="btn btn-lg btn-primary" href=""><i class="fa fa-motorcycle"></i> Sign up to drive</a>
                    </div>
                </div>
        </div>
        
    
        <!-- Features -->
        <div id="features-section" class="features-container">
            <div class="container">
                <div class="row" style='margin-top: 5em;'>
                    <div class="col-sm-12 features">
                        <h3>Why Buzzhire?</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 features-box">
                        <div class="icon">
                            <i class="fa fa-gbp"></i>
                        </div>
                        <h4>Great pay</h4>
                        <p>
                            Our drivers make more than &pound;8OO a week.
                        </p>
                    </div>
                    <div class="col-sm-4 features-box">
                        <div class="icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <h4>Flexible schedule</h4>
                        <p>
                            You choose when you want to work and how much. Build a full schedule or simply claim a few jobs on the side.
                        </p>
                    </div>
                    <div class="col-sm-4 features-box">
                        <div class="icon">
                            <i class="fa fa-thumbs-up"></i>
                        </div>
                        <h4>Easy payments</h4>
                        <p>
                            No more waiting weeks to be paid. BuzzHire will direct deposit your earnings
                            into your bank account within 48 hours of completing your job.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container" >
            <div class='row' style='margin-bottom: 6em;'>
                <div class='col-md-4 col-md-offset-4 text-center'>
                    <a class="btn btn-lg btn-block btn-primary" href=""><i class="fa fa-motorcycle"></i> Sign up to drive</a>
                </div>
            </div>
            <div class='row' style='margin-bottom: 6em;'>
                <div class='col-md-12 text-center'>
                    <h4>Want to <a href='{% url 'book' %}'>book a driver</a>?</h4>
                </div>
            </div>
        </div>

        {% comment %}
        <!-- Product -->
        <div class="product-container product-bg2" id="driver-registration">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 product-img">
                        {% staticthumbnail 'img/scooter.jpg' '500x500' as im %}
                            <img src='{{ im.url }}' height='{{ im.height }}' width='{{ im.width }}'/>
                        {% endthumbnail %}
                    </div>
                    <div class="col-md-7 product-text">
                        <h3>Freelance driver?</h3>
                        <ul>
                            <li>Find a delivery job in seconds</li>
                            <li>Signing up is easy</li>
                            <li>Select your availability and we'll do the rest</li>
                            <li>Be your own boss and manage your schedule</li>
                        </ul>
                        <div class="product-button">
                            <a class="btn btn-primary btn-lg" href="{% url 'account_signup' %}"><i class="fa fa-motorcycle"></i> Apply to be a driver</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}
{% endblock %}

