{% extends 'account/signup.html' %}
{% load django_bootstrap_breadcrumbs crispy_forms_tags %}

{% block inner_breadcrumb %}
    {% breadcrumb 'Become a driver' 'driver_become' %}
    {{ block.super }}
{% endblock %}

{% block form_content %}
    <p>Tell us about yourself.  Once you have signed up,
       you will also need to tell us which vehicles you drive.
    </p>
    <form method="post">
        {% csrf_token %}
        {% crispy form %}
        {% crispy driver_form %}
    </form>
    
{% endblock %}