{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs icons %}

{% block inner_breadcrumb %}
    {% breadcrumb 'Become a driver' 'driver_become' %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class='text-center'>
        <p>Thank you for your application.</p>
        <p>We'll be in touch soon to schedule an interview.</p>
        {% if not coming_soon %}
            <p><a class='btn btn-lg btn-default' href='{% url 'account_dashboard' %}'>{{ 'dashboard'|icon }} Go to driver dashboard</a></p>
        {% endif %}
    </div>
{% endblock %}

