{% extends 'job/jobrequest_detail.html' %}
{% load django_bootstrap_breadcrumbs humanize core_tags %}

{% block page_actions %}{% endblock %}

{% block inner_breadcrumb %}
  {{ block.super }}
  {% breadcrumb object object.get_absolute_url %}
{% endblock %}

{% block content %}
    <div class='row'>
        <div class='col-md-7'>
            <p>You will receive details of your assigned freelancer{{ object.number_of_freelancers|pluralize }} shortly.</p>  
        </div>
        <div class='col-md-5'>
            {% summary object %}    
        </div>
    </div>
{% endblock %}