{% load core_tags admin_urls %}
<p>The following job request now has enough applications to be confirmed.</p>

<table class="button" style='margin-top: 10px; margin-bottom: 10px;'>
    <tr>
      <td>
        <a href='{% base_url %}{% url object|model_opts|admin_urlname:'change' object.pk %}'>Confirm this job</a>
      </td>
    </tr>
</table>

{% summary_for_email object 'admin' %}
{# TODO - this should show applications, not bookings #}
{% with object.bookings.all as bookings %}
    <p></p>
    <h4>Booking{{ bookings|pluralize }}</h4>
    {% include 'booking/email/includes/bookings_for_job_request.html' %}
{% endwith %}