<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-7 copyright">
                <p>&copy; 2015 Buzzhire | <a href='{% url 'contact' %}'>Contact</a> | <a href='{% url 'credits' %}'>Site credits</a></p>
            </div>
            <div class="col-sm-5 social-icon">
                <a href="http://{{ facebook_url }}" class="social-icon"><i class="fa fa-facebook"></i></a>
                <a href="http://{{ twitter_url }}" class="social-icon"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>
