{% extends 'account/dashboard_base.html' %}
{% load crispy_forms_tags django_bootstrap_breadcrumbs job %}

{% block inner_breadcrumb %}
  {{ block.super }}
  {% breadcrumb 'Open invitations' 'freelancer_invitations_list' %}
  {% breadcrumb job_request job_request.get_absolute_url %}
{% endblock %}

{% block content %}
    <div class='row' style='margin-top: 3em;'>
        <div class='col-md-5'>
            {% job_request_summary job_request %}
        </div>
        <div class='col-md-2'></div>
        <div class='col-md-6'>
            {% crispy form %}  
        </div>
    </div>
{% endblock %}
