{% load thumbnail icons %}
<div class="navbar navbar-default navbar-fixed-top menu-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Buzzhire</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_anonymous %}
                <li><a href="{% url 'account_login' %}">{{ 'login'|icon }} Log in</a></li>
            {% else %}
                <li class="dropdown" id='user-menu'>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                     {{ 'user'|icon }} {{ request.user }} <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    {#<li><a href="{% url 'account_details_change' %}">{{ 'edit'|icon }} Edit account details</a></li>#}
                    <li><a href="{% url 'account_change_password' %}">{{ 'password'|icon }} Change password</a></li>
                    {% if request.user.is_admin %}
                        <li class="divider"></li>
                        <li><a href="{% url 'admin:index' %}">{{ 'admin'|icon }} Admin</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{% url 'account_logout' %}">{{ 'logout'|icon }} Log out</a></li>
                  </ul>
                </li>
             {% endif %}
            </ul>
        </div> 
    </div>
</div> 
