{% load thumbnail icons static staticthumbnail main_tags freelancer %}

<div class="navbar navbar-default navbar-fixed-top menu-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div style="height: 50px; width: 168px;">
                <a href="/"><img alt="BuzzHire" src="{% static 'img/logo/logo.svg' %}" style="max-height: 100%; max-width: 100%;"></a>
            </div>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_anonymous %}
                    {% url 'service_select' as link_url %}
                    {% include 'includes/menu_link.html' with link_text='Book a freelancer' %}
                    {% url 'freelancer_signup_select' as link_url %}
                    {% include 'includes/menu_link.html' with link_text='Become a freelancer' %}
                   
                    <li><a href="{% url 'account_login' %}" class="btn blue-bck white">Log in</a></li>
                {% else %}
                    {% comment %}
                        {% url 'account_dashboard' as link_url %}
                        {% include 'includes/menu_link.html' with icon_name='dashboard' link_text='Dashboard' %}
                    {% endcomment %}
                    <p class="navbar-text photo-navbar-item blue">
                        <span>
                        {% if request.user.is_freelancer %}
                            {% profile_photo request.user.freelancer 'small' %}
                        {% endif %}
                        {{request.user.freelancer.photo.url}}
                        </span>
                        Logged in as {{ request.user }}
                    </p>
                    <p class="navbar-text logout-navbar-item"><a href="{% url 'account_logout' %}">{{ 'logout'|icon }} Log out</a></p>
                 {% endif %}
            </ul>
        </div>
    </div>
</div>