{% load icons %}
{% if request.user.is_driver %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ 'driver'|icon }} Driver</div>
      <div class="list-group">
          {% with request.user.driver as driver %}
              {% comment %}
                  {% url 'driver_detail' driver.pk as link_url %}
                  {% include 'includes/panel_link.html' with icon_name='driver_profile_view' link_text='View your profile' %}
              {% endcomment %}
              {% url 'driver_change' driver.pk as link_url %}
              {% include 'includes/panel_link.html' with icon_name='driver_profile_change' link_text='Edit your profile' %}
          {% endwith %}
      </div>
    </div>
{% endif %}