{% load static %}
<!DOCTYPE html>
<html>
  <head>
     {% include 'includes/html_head.html' %}
     {% block extrastyles %}{% endblock %}
     {# Put our custom stylesheet here to prevent third-party extrastyles overriding it #}
     <link href="{% static 'css/main.css' %}" rel="stylesheet">
  </head>
  <body{% if is_home %} id='home'{% endif %}>
    
    {% include 'includes/nav/primary.html' %}
    
    <div id='main'{% if not title and not is_home %} class='main-no-title'{% endif %}>
	    {% block content_wrapper %}
		    <div class="container">

              {% block page_title %}
                  {% if title %}
                       <div class="header text-center">
                            <div id='banner' class='page-header'>
                                <h1>{% block page_title_inner %}{{ title }}{% endblock %}</h1>
                            </div>
                        </div>
                  {% endif %}
              {% endblock %}

		      {% block messages %}
                 {% include 'includes/messages.html' %}
		      {% endblock messages %}
		      
	          {% block content_row_wrapper %}
                <div class='row bottom-space' id='content-row'>
                    <div class='col-md-6 col-md-offset-3'>
                        {% block content %}{% endblock %}
                    </div>
	            </div>
              {% endblock %}
              
		    </div> <!-- /container -->
		{% endblock %}
	</div>
    {% include 'includes/footer.html' %} 
    {% include 'includes/page_bottom.html' %}
    {% block extrascripts %}{% endblock %}
  </body>
</html>
