{% extends 'page_fullwidth.html' %}
{% load core_tags django_bootstrap_breadcrumbs %}
{% block page_title %}{% endblock %}

{# Move messages to content column #}
{% block messages %}{% endblock %}

{# Move breadcrumbs #}
{% block breadcrumbs_wrapper %}{% endblock %}

{% block content_row_wrapper %}
    <div class='container sidebar-page'>
        <div class='row after-breadcrumb sidebar'>
            <div class='col-md-3'>
                {% block sidebar %}{% endblock %}
            </div>
            <div class='col-md-9 sidebar-main'>
                {% block messages_sidebar %}
                    {% if messages %}
                      {% include 'includes/messages.html' with top_space=False %}
                    {% endif %}
                {% endblock %}
                
                {% block page_title_sidebar %}
                    {% block breadcrumbs %}
                      {% if title %}
                         {% block home_breadcrumb %}{% breadcrumb 'Home' '/' %}{% endblock %}
                         {% block inner_breadcrumb %}
                             {# Extend this block to put the page path inside #}
                         {% endblock %}
                         {% breadcrumb title request.path %}
                      {% endif %}
                    {% endblock %}

                    {% block breadcrumb_display %}
                      <div class='sidebar-breadcrumbs' style='float:left'>
                         {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
                      </div>
                    {% endblock %}

                    <h4>{% block page_title_inner %}{{ title }}{% endblock %}</h4>

                {% endblock %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}