{% extends 'page_fullwidth.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block page_title %}{% endblock %}

{% block content_row_wrapper %}
    <div class='container sidebar-page'>
        <div class='row after-breadcrumb sidebar'>
            <div class='col-md-3'>
                {% block sidebar %}{% endblock %}
            </div>
            <div class='col-md-9 sidebar-main'>
                {% block page_title_sidebar %}<h4>{{ title }}</h4>{% endblock %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}