{% load icons %}
<div class="panel panel-default">
  <div class="panel-heading">{{ 'account'|icon }} Account</div>
  <div class="list-group">
      {% with client=request.user.client driver=request.user.driver %}
          {% if client %}
            {% url 'client_change' client.pk as link_url %}
            {% include 'includes/panel_link.html' with icon_name='client_profile_change' link_text='Edit profile' %}
          {% endif %}
          {% if driver %}
            {% url 'driver_change' driver.pk as link_url %}
            {% include 'includes/panel_link.html' with icon_name='driver_profile_change' link_text='Edit profile' %}
            {% url 'freelancer_photo' as link_url %}
            {% include 'includes/panel_link.html' with icon_name='photo' link_text='Photo' %}
            {% url 'drivervehicletype_list' as link_url %}
            {% include 'includes/panel_link.html' with icon_name='vehicletypes' link_text='Vehicles' %}
          {% endif %}
      {% endwith %}
      {% url 'account_change_password' as link_url %}
      {% include 'includes/panel_link.html' with icon_name='password' link_text='Change password' %}
      {% url 'account_logout' as link_url %}
      {% include 'includes/panel_link.html' with icon_name='logout' link_text='Log out' %}
  </div>
</div>
