{% load icons %}
<div class='well'>
    <p class='text-center'>
        <a class='monospace' href='{{ object.get_absolute_url }}'>{{ object.reference_number }}</a><br>
        {{ 'date'|icon }} {{ object.date }}, {{ object.start_time }} 
        
    </p>
    <table class='table text-left'>
        <tbody>
            <tr>
                <th>Duration</th>
                <td>
                    {{ object.duration }} hour{{ object.duration|pluralize }}
                </td>
            </tr>
            <tr>
                <th>Number of drivers</th>
                <td>
                    {{ object.number_of_freelancers }}
                </td>
            </tr>
            <tr>
                <th>Location</th>
                <td>
                    <address>
                       {% include 'job/includes/location.html' %}
                    </address>
                </td>
            </tr>
            {% if request.user.is_admin %}
                <tr>
                    <th>Client</th>
                    <td>
                        {{ object.client }}
                    </td>
                </tr>
                <tr>
                    <th>Client pay per hour</th>
                    <td>
                        &pound;{{ object.client_pay_per_hour.amount }}
                    </td>
                </tr>
                <tr>
                    <th>Driver pay per hour</th>
                    <td>
                        &pound;{{ object.freelancer_pay_per_hour.amount }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <th>Pay per hour</th>
                    <td>
                        &pound;{{ object.client_pay_per_hour.amount }}
                    </td>
                </tr>
            {% endif %}
            <tr style='font-size: 1.2em;'>
                <th>TOTAL COST</th>
                <td>
                    <strong>&pound;{{ object.client_total_cost.amount }}</strong>
                </td>
            </tr>
        </tbody>
    </table>
</div>